<div id="overlay">
  <div id="searchArea">
    <%= form_for(:session, url: root_path) do |f| %>
      <%= f.text_field :text, :placeholder => "Search for properties, areas, agencies and landlords" %>
      <%= f.submit "Search", class: "raised btn_large" %>
    <% end %>
  </div>
</div>
