<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div id="user_page">
        <div id="user_profile">
          <img id="user_pic"> <%= gravatar_for @user %> 
          <div id="user_name"><%= @user.name %></div>
          <div id="user_type">Tenant/Landlord/(admin)</div>
        </div>
      </div>
    </section>
  </aside>
</div>