<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      
      <div id="user_page">
        
        <div id="users_left">
          <div id="search_bar">
            <input id="search_field" type="text" name="fname">
            <input id="search_button" type="submit" value="Search">
          </div>
        </div>
          
        <div id="users_right">
          
          <div id="user_profile">
            <img id="dis_pic" <%= gravatar_for @user %> 
            <div id="dis_name"><%= @user.name %></div>
            <div id="dis_type">(Tenant / Landlord / admin)</div> <!-- User type -->
          </div>
          <div id="past_props"> <!-- list of previously rated properties, (only for tenants) -->
            Container for user rated properties.
          </div>
          <div id="user_props"> <!-- list of landlord properties, (only for landlords) -->
            Container for landlord owned properties.
          </div>
        </div>
        
      </div>
      
    </section>
  </aside>
</div>