<% provide(:title, @title) %>
<div class="center_box">
    <h1><%= @title %></h1>
    
    <%= will_paginate %>
    <ul class="users">
      <%= render @properties %>
    </ul>
    <%= will_paginate %>
</div>