<% provide(:title, 'All properties') %>
<%= link_to "Add Property", addproperty_path%>
<h1>Properties</h1>
<%= will_paginate %>

<ul class="users">
  <%= render @properties %>
</ul>

<%= will_paginate %>