<% provide(:title, 'All properties') %>

<div class="prop_list_page">
    
    <div class="propery_list_title">Properties</div>
    
    
    <%= will_paginate %>
    
    <ul class="prop_lists">
      <%= render @properties %>
    </ul>
    
    <%= will_paginate %>

</div>