<% provide(:title, 'All properties') %>
<% if current_user.admin? %><%= link_to "Add Property", addproperty_path%><% end %>
<h1>Properties</h1>
<%= will_paginate %>

<ul class="users">
  <%= render @properties %>
</ul>

<%= will_paginate %>