<% provide(:title, "About") %>
<div class="content">
    <h1>What is BedMe?</h1>
    
    BedMe is a project designed to bring landlords and tenants together.
    <p>Based solely in Bath, we aim to deliver the best experience in searching for accomodation for students.
</div>