<div id="bimage_crescent">
<div id="overlay">
    <div id="mainSearch" class="large_search">
        <div class="searchbox">
            <div class="searchbar">
                <%= render 'shared/searchbox' %>
            </div>
        </div>
    </div>
    <span class="credit">Image credit: <a href="http://www.heatheronhertravels.com/">Heather Cowper</a></span>
</div>
</div>
