<div id="bimage_crescent">
<div id="overlay">
    <div id="mainSearch" class="large_search">
        <div class="searchbox">
            <div class="searchbar">
                <%= render 'layouts/searchbox' %>
            </div>
        </div>
    </div>
</div>
</div>
