@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
@import "variables";
/* Use this file for styling that affects all pages within the site */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $background_grey; /*F0F010*/
    font-family: 'Lato', sans-serif;
    color: $dark_background;
}

.content {
    margin: 20px;
    min-height: 100px;
    position: relative;
}