@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
@import "variables";
/* Use this file for styling that affects all pages within the site */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $background_grey; /*F0F010*/
    font-family: 'Lato', sans-serif;
    color: $dark_background;
}

.content {
    margin: 20px;
    min-height: 100px;
    position: relative;
}

.searchbox {
    min-height: 46px;
    height: 100%;
    border: 1px solid $input_inactive;
    border-radius: 5px;
    background-color: white;
    box-shadow: $bxShadow-1;
    .searchbar {
        position: relative;
        padding: 0 15px;
        top: 50%;
        transform: translateY(-50%);
    }
    input[type="text"] {
        top: 14px;
        left: 0px;
        
        width: calc(100% - 50px);
        padding: 8px 0px;
        
        border: none;
        border-bottom: solid 2px $input_inactive;
        
        font-family: inherit;
        font-size: 20px;
        
        transition: border 0.3s;
        &:focus {
          outline: none;
          border-bottom-color: $input_active;
        }
    }
    input[type="image"] {
        height: 40px;
        width: 40px;
        float: right;
    }
}