@import "variables";

input {
  -webkit-appearance: none;
}

.link {
  background: none;
  border: none;
}

#overlay {
  top: 0px;
  
  width: 100%;
  height: 800px;
  height: calc(100vh - #{$header_height});
  padding: 10px;
  
  background: none;
  box-sizing: border-box;
}

#form_container {
  position: relative;
  max-width: 500px;
  min-width: 280px;
  
  top: 50%;
  transform: translateY(-50%);
  
  margin: 0 auto;
  
  background-color: white;
  border-radius: 2px;
  box-shadow: $bxShadow-3;
  .form_title {
    padding: 12px;
    
    border-radius: 2px 2px 0 0;
    
    background-color: $dark_background;
    color: white;
    font-size: 20px;
  }
  form {  padding: 10px 20px 20px 20px; }
}

.text_input {
  position: relative;
  width: 100%;
  height: 48px;
  
  padding: 16px 0 8px 0;
  margin-bottom: 10px;
  input {
    display: block;
    position: absolute;
    top: 14px;
    left: 0px;
    
    width: 100%;
    padding: 8px 0px;
    
    border: none;
    border-bottom: solid 2px $input_inactive;
    
    font-family: inherit;
    font-size: 20px;
    
    transition: border 0.3s;
    &:focus {
      outline: none;
      border-bottom-color: $input_active;
    }
  }
  label {
    display: none;
    position: absolute;
    top: 0px;
    
    color: $input_inactive;
    font-size: 12px;
    
    transition: color 0.3s;
  }
  .info {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    
    color: $input_inactive;
    font-size: 12px;
  }
  &.valid input { border-bottom-color: $input_valid; }
  &.focused {
    label { color: $input_active; }
    &.valid label { color: $input_valid; }
  }
  &.error {
    input { border-bottom-color: $input_error; }
    .info { display: inline; }
    .info, label { color: $input_error; }
  }
}

/* Checkbox styling */

#remember_me.cbox label:after { content: "Remember me?"; }

.cbox { 
  display: inline-block; 
  input[type="checkbox"] { 
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    &:focus + label .cbouter {
      border-color: $input_active;
    }
    &:checked + label {
      .cbinner { background-color: $input_active; }
      .cbouter { border-color: $input_active; }
      &:hover .cbouter { border-color: $input_inactive; }
    }
    &:focus:checked + label .cbouter { border-color: $input_inactive; }
  }
  label { 
    cursor: pointer;
    &:hover .cbouter { border-color: $input_active; }
  }
  span {
    display: inline-block;
    transition: 0.3s;
  }
  .cbouter {
    border-radius: 2px;
    width: 18px;
    height: 18px;
    margin: 0 10px 0 0;
    border: solid 2px $input_inactive;
    vertical-align: middle;
  }
  .cbinner {
    border-radius: 1px;
    width: 14px;
    height: 14px;
    margin: 2px;
  }
}

.raised {
  position: absolute;
  right: 22px;
  padding: 6px;
  min-width: 56px;
  border-radius: 2px;
  border: none;
  box-shadow: $bxShadow-1;
 
  background: $input_active;
  color: black;
  font-weight: 700;
  &:disabled {
    cursor: default;
    background-color: $input_inactive;
    color: gray;
  }
}

.link {
  display: block;
  text-decoration: none;
  margin-top: 20px;
  padding: 0;
  border-bottom: 1px solid $input_inactive;
}

form a {
  text-decoration: none;
}

@media screen and (max-height: 460px) {
  #overlay { overflow: auto; }
  
  #form_container {
    top: 0px;
    transform: none;
  }
}

@media screen and (min-width: 800px) {
  #bimage {
    background-image: url("bathwick.jpg");
    background-size: cover;
  }
  
  #overlay {
    background-color: rgba(255, 255, 255, 0.5);
  }
}