@import "variables";

header {
    position: relative;
    width: 100%;
    height: $header_height;
    background-color: $dark_background;
    box-shadow: $bxShadow-2;
    a {
        text-decoration: none;
        color: white;
    }
}

#brand {
    margin: auto;
    padding: 12px;
    max-width: 200px;
    a, img {
        display: block;
    }
    img {
        height: 30px;
        margin: auto;
    }
}

.navSearch {
    height: 0;
    position: absolute;
    top: 0;
    margin: 9px;
    left: 40px;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 13px;
    padding: 5px;
    a {
        padding: 6px;
        &:hover {
            background-color: #17242A;
            border-radius: 2px;
        }
    }
    img {
        height: 30px;
        position: absolute;
        right: 0;
        display: none;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li { display: inline-block; }
}

#profile {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 12px;
    .gravatar {
        height: 30px;
    }
    span {
        position: relative;
        top: -8px;
        margin: 8px 8px 8px 8px;
    }
}

@media screen and (max-width: 800px) {
    nav {
        padding: 0;
        ul {
            display: none;
            padding: 6px 12px;
            position: relative;
            top: 30px;
            left: 13px;
            background-color: $dark_background;
            box-shadow: $bxShadow-1;
            border-bottom-left-radius: 2px;
            z-index: 10;
        }
        img {
            display: block;
            &:hover {
                background-color: #17242A;
            }
        }
        li {
            display: block;
            margin: 16px 0;
            &:hover a {
                background: none;
                color: $logo_orange;
            }
        }
    }
    nav img:hover + ul, ul:hover {
        display: block;
    }
    #profile span {
        display: none;
    }
}
