@import "variables";

header {
    height: $header-height;
    background-color: $dark_background;
    box-shadow: $bxShadow-2;
    text-align: center;
    a {
        text-decoration: none;
        color: white;
    }
    .search {
        position: absolute;
        margin: 12px 16px;
        top: 0; left: 0;
        z-index: 10;
        form {
            position: relative;
            background-color: white;
            border-radius: 4px;
            text-align: left;
        }
        img {
            display: none;
        }
        input[type="text"] {
            padding: 4px 0px;
            margin: 4px 32px 4px 8px;
            border: none;
            width: 150px;
            border-bottom: solid 2px $input_inactive;
            font-family: inherit;
            font-size: 14px;
            
            transition: border 0.3s, width 0.3s, margin 0.3s;
            &:focus, &:hover { width: 250px; }
            &:focus {
                outline: none;
                border-bottom-color: $input_active;
            }
        }
        input[type="image"] {
            position: absolute;
            top: 0; right: 0;
            margin: 4px;
            height: 26px;
            width: 26px;
        }
    }
    .header_logo {
        display: inline-block;
        padding: 12px 0;
        transition: opacity 0.2s;
        img { height: 32px; }
    }
    nav {
        position: absolute;
        right: 0;
        top: 0;
        .dropdown_button.logged_in { display: block; }
        .dropdown_button {
            display: none;
            height: 30px;
            padding: 15px 16px;
            img {
                height: 30px;
                float: right;
                border-radius: 30px;
            }
            .username {
                height: 20px;
                display: inline-block;
                color: white;
                margin: 5px 8px;
                float: right;
            }
        }
        ul {
            list-style: none;
            padding: 20px 16px;
            margin: 0;
            max-height: 0;
            transition: max-height 0.5s;
            overflow: hidden;
        }
        li { display: inline-block; padding-left: 10px; }
        
        .logged_in + ul { visibility: hidden; position: fixed; }
        
        .dropdown_button.logged_in:hover + ul, .dropdown_button.logged_in + ul:hover {
            position: relative;
            visibility: visible;
            max-height: 200px;
            float: right;
            padding: 0 20px 10px 10px;
            background-color: $dark_background;
            box-shadow: $bxShadow-3;
            border-bottom-left-radius: 2px;
            z-index: 10;
            text-align: left;
            li {
                display: block;
                margin: 16px 0;
                &:hover a {
                    background: none;
                    color: $logo_orange;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    header {
        .dropdown_button span.username { display: none; }
        ul { visibility: hidden; position: fixed; }
        span.dropdown_button { display: block; }
        
        .dropdown_button:hover + ul, .dropdown_button + ul:hover {
            // renduncancy warning!
            position: relative;
            visibility: visible;
            max-height: 200px;
            float: right;
            padding: 0 20px 10px 10px;
            background-color: $dark_background;
            box-shadow: $bxShadow-3;
            border-bottom-left-radius: 2px;
            z-index: 10;
            text-align: left;
            li {
                display: block;
                margin: 16px 0;
                &:hover a {
                    background: none;
                    color: $logo_orange;
                }
            }
        }
        .search {
            input[type="text"] {
                width: 0;
                margin: 4px 0;
            }
            input[type="image"] { left: 0; }
            input[type="text"]:focus {
                min-width: 32px;
                margin: 4px 32px 4px 8px;
                width: 250px;
                & + input[type="image"] { right: 0; left: auto; }
            }
            &:hover {
                input[type="text"] {
                    min-width: 32px;
                    margin: 4px 32px 4px 8px;
                    width: 250px;
                    & + input[type="image"] { right: 0; left: auto; }
                }
                + .header_logo {
                    opacity: 0;
                }
            }
        }
    }
}
