// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#property_page {
    margin: 16px auto 0 auto;
    max-width: 1000px;
}

.col {
    vertical-align: top;
    width: calc(50% - 32px);
    display: inline-block;
    padding: 0 16px;
}

.info_box {
    width: 100%;
    border-radius: 4px;
    background-color: $background_darker_grey;
    box-shadow: $bxShadow-2;
    margin-bottom: 32px;
    vertical-align: top;
}

.box_title {
    text-align: center;
    padding: 8px;
    background-color: $dark_background;
    border-radius: 4px 4px 0 0;
    color: white;
    font-size: 24px;
    z-index: 5;
}

.box_title.main {
    font-size: 32px;
}

.box_content {
    padding: 16px;
    overflow: auto;
    .box_image {
        position: relative;
        float: left;
        height: 200px;
        width: 200px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: $bxShadow-2;
    }
    img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
    }
    .property_address {
        float: left;
        margin: 16px;
    }
}

.reviews_list {
    position: relative;
    #box_reviews {
        z-index: -1;
        position: relative;
        top: -70px;
        background-color: $background_darker_grey;
        box-shadow: $bxShadow-2;
    }
}

.comments_list {
    padding: 0;
    margin: 16px;
    list-style-type: none;
    
    .comment {
        position: relative;
        overflow: auto;
        line-height: 1.5;
        margin-bottom: 8px;
        .gravatar {
            float: left;
            margin: 0 6px 6px 0;
            border-radius: 1px;
        }
        .comment_body {
            position: relative;
            top: -2px;
            margin-left: 46px;
            min-height: 40px;
            margin-bottom: 24px;
            .username {
                color: $dark_background;
                margin-right: 4px;
                text-decoration: none;
                font-weight: 600;
            }
        }
        hr {
            border: 0;
            height: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .comment_time, .delete_comment_link {
            position: absolute;
            bottom: 0;
            font-size: 12px;
            margin: 0 0 8px 0;
            color: #616161;
        }
        .delete_comment_link {
            right: 0;
            button, a {
                text-decoration: none;
                background: none;
                border: none;
                color: inherit;
                font-size: inherit;
                padding: 0;
                &:focus, &:hover {
                    outline: none;
                    color: $input_error;
                }
            }
        }
        .comment_time { left: 0; }
    }
    .pagination {
        padding: 4px 0 16px 0;
    }
}

.field {
    overflow: auto;
    background-color: white;
    padding: 16px;
    box-shadow: $bxShadow-1;
    textarea {
        padding: 8px 0px;
        margin-bottom: 16px;
        font-family: inherit;
        width: 100%;
        border: none;
        border-bottom: solid 2px $input_inactive;
        &:focus {
          outline: none;
          border-bottom-color: $input_active;
        }
    }
}

.comment_login {
    margin: 16px 0 16px 16px;
    font-size: 16px;
    border: none;
    background: transparent;
    text-decoration: underline;
}

.comment_login {
    margin-left: 16px;
}

.cancel {
    float: none;
    background-color: #ECEFF1;
}

.hidden { display: none; }

@media screen and (max-width: 800px) {
    .col {
        width: calc(100% - 32px);
    }
}