
@import "variables";

#user_page {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 800px;
    background-color: #543543;
}

#users_left {
    display: inline-block;
    margin: 16px 16px 16px 16px;
    width: 18%;
    height: 700px;
    background-color: #FF5500;
}

#users_right {
    display: inline-block;
    margin: 16px 16px 16px 16px;
    width: 73%;
    height: 700px;
    background-color: #FF33FA;
}

#user_profile {
    position: relative;
    width: 80%;
    left: 10%;
    margin: 16px 0 16px 0;
    height: 300px;
    background-color: #CFD8DC;
}

#user_pic {
    display: inline-block;
    height: 84px;
    margin: 8px 8px 0 8px;
}

#user_name {
    display: inline-block;
    font-size: 32px;
    margin: 8px 8px 0 8px;
}

#user_type {
    display: block;
    font-size: 24px;
    margin: 8px 8px 0 8px;
}

#past_props {
    position: relative;
    display: block;
    width: 80%;
    left: 10%;
    margin: 16px 0 16px 0;
    height: 300px;
    background-color: #10F3F0;
}

#user_props {
    position: relative;
    display: block;
    width: 80%;
    left: 10%;
    margin: 16px 0 16px 0;
    height: 300px;
    background-color: #A0C322;
}

//Ciaran added this styling for the users index page (Lists all users)
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #E0E0E0 ;
  }
}