
@import "variables";

#user_page {
    position: absolute;
    width: 1200px;
    left: calc(50% - 700px);
    height: 800px;
    margin: 16px;
    padding: 20px 100px 40px 100px;
}

#users_left {
    position: fixed;
    display: inline-block;
    margin: 16px 16px 16px 16px;
    width: 400px;
    height: 350px;
    border-radius: 4px;
    background-color: $background_darker_grey;
    box-shadow: $bxShadow-2;
}

#users_right {
    float: right;
    display: inline-block;
    margin: 16px 16px 16px 16px;
    width: 60%;
    height: 700px;
    border-radius: 4px;
    background-color: $background_darker_grey;
    box-shadow: $bxShadow-2;
}

#user_block_head {
    text-align: center;
    height: $header_height;
    color: $background_grey;
    background-color: $medium_background;
    text-decoration: none;
    font-size: 32px;
    border-radius: 4px 4px 0 0;
    box-shadow: $bxShadow-2;
}
#user_block_head_text {
    position: relative;
    top: 8px;
}

#user_profile {
    position: relative;
    width: 80%;
    left: 10%;
    margin: 32px 0 16px 0;
    height: 200px;
    border-radius: 4px;
    background-color: $background_grey;
    box-shadow: $bxShadow-2;
}

#dis_pic {
    display: inline-block;
    height: 84px;
    border-radius: 4px;
    margin: 8px 8px 0 8px;
}

#dis_name {
    display: block;
    font-size: 24px;
    margin: 8px 8px 0 8px;
}
#dis_type {
    display: inline-block;
    font-size: 32px;
    margin: 8px 0 0 4px;
}
#dis_info {
    font-size: 18px;
    margin: 8px 8px 0 8px;
}

#past_props {
    position: relative;
    display: block;
    width: 80%;
    left: 10%;
    margin: 32px 0 0 0;
    height: 300px;
    border-radius: 4px;
    background-color: $background_grey;
    box-shadow: $bxShadow-2;
}

#prop_name {
    display: block;
    font-size: 32px;
    margin: 8px;
}
#prop_pic {
    height: 160px;
    width: 240px;
}
#prop_left {
    font-size: 18px;
    margin: 8px;
    float: left;
    display: inline-block;
}
#prop_right {
    margin: 8px;
    display: inline-block;
}
#prop_right_headings {
    font-size: 18px;
    float: left;
    display: inline-block;
}
#prop_right_data {
    margin: 0 0 0 4px;
    font-size: 18px;
    display: inline-block;
}

#to_page_button {
    text-align: center;
    display: inline;
    position: absolute;
    font-size: 32px;
    padding: 4px;
    margin: 16px 8px 8px 24px;
    border-radius: 8px;
    background-color: $logo_orange;
    box-shadow: $bxShadow-2;
}
#to_page_button:hover {
    background-color: #FFC107;
    box-shadow: $bxShadow-3;
}

#to_page_button a {
    text-decoration: none;
    color: $dark_background;
}

//Ciaran added this styling for the users index page (Lists all users)
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #E0E0E0 ;
  }
}